$background:					white !default;

$line_alt1_background:			$background !default;
$line_alt2_background:			$background !default;

$line_highlighted_background:	#e0e0e0 !default;
$line_highlighted_number:		black !default;

$gutter_text:					#afafaf !default;
$gutter_border_color:			#6ce26c !default;
$gutter_border:					3px solid $gutter_border_color !default;

$toolbar_collapsed_a:			#00f !default;
$toolbar_collapsed_a_hover:		#f00 !default;
$toolbar_collapsed_background:	#fff !default;
$toolbar_collapsed_border:		1px solid $gutter_border_color !default;

$toolbar_a:						#fff !default;
$toolbar_a_hover:				#000 !default;
$toolbar_background:			$gutter_border_color !default;
$toolbar_border:				none !default;

$code_plain:					black !default;
$code_comments:					#008200 !default;
$code_string:					blue !default;
$code_keyword:					#006699 !default;
$code_preprocessor:				gray !default;
$code_variable:					#aa7700 !default;
$code_value:					#009900 !default;
$code_functions:				#ff1493 !default;
$code_constants:				#0066cc !default;
$code_script:					$code_keyword !default;
$code_script_background:		none !default;
$code_color1:					gray !default;
$code_color2:					#ff1493 !default;
$code_color3:					red !default;

$caption_color:					$code_plain !default;

// Interface elements.
.syntaxhighlighter {
	background-color: $background;

	// Highlighed line number
	.line {
		&.alt1 { background-color: $line_alt1_background; }
		&.alt2 { background-color: $line_alt2_background; }
		
		// Highlighed line
		&.highlighted {
			&.alt1, &.alt2 { background-color: $line_highlighted_background; }
			&.number { color: $line_highlighted_number; }
		}
	}
	
	table {
		caption {
			color: $caption_color;
		}
	}
	
	// Add border to the lines
	.gutter {
		color: $gutter_text;
		.line {
			border-right: $gutter_border;
			
			&.highlighted {
				background-color: $gutter_border_color;
				color: $background;
			} 
		} 
	}
	
	&.printing .line .content { border: none; }
	
	&.collapsed {
		overflow: visible;
		
		.toolbar {
			color: $toolbar_collapsed_a;
			background: $toolbar_collapsed_background;
			border: $toolbar_collapsed_border;
			
			a {
				color: $toolbar_collapsed_a;
				&:hover { color: $toolbar_collapsed_a_hover; } 
			} 
		}
	}
	
	.toolbar {
		color: $toolbar_a;
		background: $toolbar_background;
		border: $toolbar_border;
		a {
			color: $toolbar_a;
			&:hover { color: $toolbar_a_hover; } 
		} 
	}
	
	// Actual syntax highlighter colors.
	.plain, .plain a { color: $code_plain; }
	.comments, .comments a { color: $code_comments; }
	.string, .string a { color: $code_string; }
	.keyword { color: $code_keyword; }
	.preprocessor { color: $code_preprocessor; }
	.variable { color: $code_variable; }
	.value { color: $code_value; }
	.functions { color: $code_functions; }
	.constants { color: $code_constants; }
	.script {
		font-weight: bold;
		color: $code_script;
		background-color: $code_script_background;
	}
	.color1, .color1 a { color: $code_color1; }
	.color2, .color2 a { color: $code_color2; }
	.color3, .color3 a { color: $code_color3; } 
}
