@mixin round_corners_custom($top, $right, $bottom, $left) {
	-moz-border-radius: $top $right $bottom $left;
	-webkit-border-radius: $top $right $bottom $left;
}

@mixin round_corners($radius) {
	@include round_corners_custom($radius, $radius, $radius, $radius);
}

.syntaxhighlighter {
	a,
	div,
	code,
	table,
	table td,
	table tr,
	table tbody,
	table thead,
	table caption,
	textarea {
		@include round_corners(0);
		
		background: none;
		border: 0;
		bottom: auto;
		float: none;
		height: auto;
		left: auto;
		line-height: 1.1em;
		margin: 0;
		outline: 0;
		overflow: visible;
		padding: 0;
		position: static;
		right: auto;
		text-align: left;
		top: auto;
		vertical-align: baseline;
		width: auto;
		box-sizing: content-box;
		font: {
			family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
			weight: normal;
			style: normal;
			size: 1em;
		}
		min: {
			// For IE8, FF & WebKit
			height: inherit;
			// For IE7
			height: auto;
		}
	}
}

.syntaxhighlighter {
	width: 100%;
	margin: 1em 0 1em 0;
	
	position: relative;
	overflow: auto;
	font-size: 1em;
	
	&.source { overflow: hidden; }
	
	// set up bold and italic
	.bold { font-weight: bold; }
	.italic { font-style: italic; }
	
	.line { white-space: pre; }
	
	// main table and columns
	table {
		width: 100%;
		caption {
			text-align: left;
			padding: .5em 0 0.5em 1em;
		}
		
		td.code {
			width: 100%;
			
			.container {
				position: relative;
				
				textarea {
					box-sizing: border-box;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border: none;
					background: white;
					padding-left: 1em;
					overflow: hidden;
					white-space: pre;
				} 
			} 
		}
		
		// middle spacing between line numbers and lines
		td.gutter .line {
			text-align: right;
			padding: 0 0.5em 0 1em; 
		}
		
		td.code .line {
			padding: 0 1em;
		}
	}
	
	&.nogutter {
		td.code {
			.container textarea, .line { padding-left: 0em; }
		}
	}
	
	&.show { display: block; }
	
	// Adjust some properties when collapsed
	&.collapsed {
		table { display: none; }
		
		.toolbar {
			padding: 0.1em 0.8em 0em 0.8em;
			font-size: 1em;
			position: static;
			width: auto;
			height: auto;
			
			span {
				display: inline;
				margin-right: 1em;
				
				a {
					padding: 0;
					display: none;
					&.expandSource { display: inline; } 
				}
			}
		}
	}
	
	// Styles for the toolbar
	.toolbar {
		position: absolute;
		right: 1px;
		top: 1px;
		width: 11px;
		height: 11px;
		font-size: 10px;
		z-index: 10;
		
		span.title { display: inline; }
		
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			padding-top: 1px;
			
			&.expandSource { display: none; }
		}
	}
	
	&.ie {
		font-size: .9em;
		padding: 1px 0 1px 0;
		
		.toolbar {
			line-height: 8px;
			a {
				padding-top: 0px;
			}
		}
	}
	
	// Print view.
	// Colors are based on the default theme without background.
	&.printing {
		.line.alt1 .content,
		.line.alt2 .content,
		.line.highlighted .number,
		.line.highlighted.alt1 .content,
		.line.highlighted.alt2 .content { background: none; }
		
		// Gutter line numbers
		.line {
			.number { color: #bbbbbb; }
			// Add border to the lines
			.content { color: black; }
		}
		
		// Toolbar when visible
		.toolbar { display: none; }
		a { text-decoration: none; }
		.plain, .plain a { color: black; }
		.comments, .comments a { color: #008200; }
		.string, .string a { color: blue; }
		.keyword {
			color: #006699;
			font-weight: bold; 
		}
		.preprocessor { color: gray; }
		.variable { color: #aa7700; }
		.value { color: #009900; }
		.functions { color: #ff1493; }
		.constants { color: #0066cc; }
		.script { font-weight: bold; }
		.color1, .color1 a { color: gray; }
		.color2, .color2 a { color: #ff1493; }
		.color3, .color3 a { color: red; }
		.break, .break a { color: black; }
	}
}