/* line 2, ../Compass/shCore.sass */
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

/* line 47, ../Compass/shCore.sass */
.syntaxhighlighter {
  width: 99% !important;
  margin: 1em 0 1em 0 !important;
  padding: 1px !important;
  position: relative !important;
  overflow: auto !important;
}
/* line 56, ../Compass/shCore.sass */
.syntaxhighlighter.source {
  overflow: hidden !important;
}
/* line 60, ../Compass/shCore.sass */
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
/* line 63, ../Compass/shCore.sass */
.syntaxhighlighter .italic {
  font-style: italic !important;
}
/* line 66, ../Compass/shCore.sass */
.syntaxhighlighter .line {
  white-space: pre !important;
}
/* line 70, ../Compass/shCore.sass */
.syntaxhighlighter table {
  width: 100% !important;
}
/* line 73, ../Compass/shCore.sass */
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: 1em 0 .5em 0 !important;
}
/* line 77, ../Compass/shCore.sass */
.syntaxhighlighter table td.code {
  width: 100% !important;
}
/* line 80, ../Compass/shCore.sass */
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
/* line 83, ../Compass/shCore.sass */
.syntaxhighlighter table td.code .container textarea {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 120% !important;
  border: none !important;
  background: #fff !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
/* line 96, ../Compass/shCore.sass */
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 1em !important;
}
/* line 100, ../Compass/shCore.sass */
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}
/* line 103, ../Compass/shCore.sass */
.syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
/* line 106, ../Compass/shCore.sass */
.syntaxhighlighter.show {
  display: block !important;
}
/* line 111, ../Compass/shCore.sass */
.syntaxhighlighter.collapsed table {
  display: none !important;
}
/* line 114, ../Compass/shCore.sass */
.syntaxhighlighter.collapsed .toolbar {
  padding: .2em .8em !important;
  font-size: 80% !important;
  position: relative !important;
}
/* line 119, ../Compass/shCore.sass */
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
/* line 123, ../Compass/shCore.sass */
.syntaxhighlighter.collapsed .toolbar span a {
  display: none !important;
}
/* line 126, ../Compass/shCore.sass */
.syntaxhighlighter.collapsed .toolbar span a.expandSource,
.syntaxhighlighter.collapsed .toolbar span a.help {
  display: inline !important;
}
/* line 131, ../Compass/shCore.sass */
.syntaxhighlighter .toolbar {
  padding: 0 0.2em !important;
  position: absolute !important;
  right: 0 !important;
  top: .1em !important;
  z-index: 10 !important;
}
/* line 138, ../Compass/shCore.sass */
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
/* line 141, ../Compass/shCore.sass */
.syntaxhighlighter .toolbar a {
  text-decoration: none !important;
}
/* line 144, ../Compass/shCore.sass */
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
/* line 150, ../Compass/shCore.sass */
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
/* line 159, ../Compass/shCore.sass */
.syntaxhighlighter.printing .line .number {
  color: #bbb !important;
}
/* line 163, ../Compass/shCore.sass */
.syntaxhighlighter.printing .line .content {
  color: #000 !important;
}
/* line 167, ../Compass/shCore.sass */
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
/* line 170, ../Compass/shCore.sass */
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
/* line 173, ../Compass/shCore.sass */
.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a {
  color: #000 !important;
}
/* line 177, ../Compass/shCore.sass */
.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
/* line 181, ../Compass/shCore.sass */
.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a {
  color: blue !important;
}
/* line 185, ../Compass/shCore.sass */
.syntaxhighlighter.printing .keyword {
  color: #069 !important;
  font-weight: bold !important;
}
/* line 189, ../Compass/shCore.sass */
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
/* line 192, ../Compass/shCore.sass */
.syntaxhighlighter.printing .variable {
  color: #a70 !important;
}
/* line 195, ../Compass/shCore.sass */
.syntaxhighlighter.printing .value {
  color: #090 !important;
}
/* line 198, ../Compass/shCore.sass */
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}
/* line 201, ../Compass/shCore.sass */
.syntaxhighlighter.printing .constants {
  color: #0066CC !important;
}
/* line 204, ../Compass/shCore.sass */
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
/* line 207, ../Compass/shCore.sass */
.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a {
  color: #808080 !important;
}
/* line 211, ../Compass/shCore.sass */
.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}
/* line 215, ../Compass/shCore.sass */
.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a {
  color: red !important;
}
/* line 219, ../Compass/shCore.sass */
.syntaxhighlighter.printing .break,
.syntaxhighlighter.printing .break a {
  color: #000 !important;
}
