.syntaxhighlighter {
  background-color: #1b2426 !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: #1b2426 !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #1b2426 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #435a5f !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: #b9bdb6 !important;
}
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #435a5f !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #435a5f !important;
  color: #1b2426 !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #afafaf !important;
  background: #1b2426 !important;
  border: none !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #afafaf !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #afafaf !important;
}
.syntaxhighlighter .toolbar {
  color: #646763 !important;
  background: #435a5f !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: #646763 !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: #e0e8ff !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #b9bdb6 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #878a85 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #5ce638 !important;
}
.syntaxhighlighter .keyword {
  color: #5ba1cf !important;
}
.syntaxhighlighter .preprocessor {
  color: #435a5f !important;
}
.syntaxhighlighter .variable {
  color: #ffaa3e !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #ffaa3e !important;
}
.syntaxhighlighter .constants {
  color: #e0e8ff !important;
}
.syntaxhighlighter .script {
  background-color: #435a5f !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #e0e8ff !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: white !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #ffaa3e !important;
}
