.syntaxhighlighter {
  background-color: white;
}
.syntaxhighlighter .line.alt1 {
  background-color: none;
}
.syntaxhighlighter .line.alt2 {
  background-color: none;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #c3defe;
}
.syntaxhighlighter .line.highlighted.number {
  color: white;
}
.syntaxhighlighter .about {
  color: black;
}
.syntaxhighlighter .about:hover {
  color: gray;
}
.syntaxhighlighter table caption {
  color: black !important;
}
.syntaxhighlighter table td.gutter {
  color: #787878;
}
.syntaxhighlighter table td.gutter .line {
  border-right: 3px solid #d4d0c8 !important;
}
.syntaxhighlighter table td.gutter .line.highlighted {
  background-color: #d4d0c8;
  color: white;
}
.syntaxhighlighter.printing .line .content {
  border: none;
}
.syntaxhighlighter.collapsed {
  overflow: visible;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #3f5fbf;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #2a00ff;
}
.syntaxhighlighter .keyword {
  color: #7f0055;
}
.syntaxhighlighter .preprocessor {
  color: #646464;
}
.syntaxhighlighter .variable {
  color: #aa7700;
}
.syntaxhighlighter .value {
  color: #009900;
}
.syntaxhighlighter .functions {
  color: #ff1493;
}
.syntaxhighlighter .constants {
  color: #0066cc;
}
.syntaxhighlighter .script {
  font-weight: bold;
  color: #7f0055;
  background-color: none;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red;
}

.syntaxhighlighter .keyword {
  font-weight: bold !important;
}
.syntaxhighlighter .xml .keyword {
  color: #3f7f7f !important;
  font-weight: normal !important;
}
.syntaxhighlighter .xml .color1, .syntaxhighlighter .xml .color1 a {
  color: #7f007f !important;
}
.syntaxhighlighter .xml .string {
  font-style: italic !important;
  color: #2a00ff !important;
}
