/* line 28, ../Compass/_theme_template.sass */
.syntaxhighlighter {
  background-color: #121212 !important;
}
/* line 33, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.alt1 {
  background-color: #121212 !important;
}
/* line 36, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.alt2 {
  background-color: black !important;
}
/* line 45, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
  background-color: #3a3a00 !important;
}
/* line 49, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
/* line 53, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter {
  border-right: 3px solid #3185B9 !important;
  color: #afafaf !important;
}
/* line 57, ../Compass/_theme_template.sass */
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
/* line 61, ../Compass/_theme_template.sass */
.syntaxhighlighter.collapsed .toolbar {
  background: black !important;
  border: 1px solid #000 !important;
}
/* line 65, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar a {
  color: gray !important;
}
/* line 68, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar a:hover {
  color: #96daff !important;
}
/* line 72, ../Compass/_theme_template.sass */
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: white !important;
}
/* line 76, ../Compass/_theme_template.sass */
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
  color: #696854 !important;
}
/* line 80, ../Compass/_theme_template.sass */
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
  color: #e3e658 !important;
}
/* line 84, ../Compass/_theme_template.sass */
.syntaxhighlighter .keyword {
  color: #d01d33 !important;
}
/* line 87, ../Compass/_theme_template.sass */
.syntaxhighlighter .preprocessor {
  color: #435a5f !important;
}
/* line 90, ../Compass/_theme_template.sass */
.syntaxhighlighter .variable {
  color: #898989 !important;
}
/* line 93, ../Compass/_theme_template.sass */
.syntaxhighlighter .value {
  color: #009900 !important;
}
/* line 96, ../Compass/_theme_template.sass */
.syntaxhighlighter .functions {
  color: #aaaaaa !important;
}
/* line 99, ../Compass/_theme_template.sass */
.syntaxhighlighter .constants {
  color: #96daff !important;
}
/* line 102, ../Compass/_theme_template.sass */
.syntaxhighlighter .script {
  background-color: #c3c3c3 !important;
}
/* line 105, ../Compass/_theme_template.sass */
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
  color: #ffc074 !important;
}
/* line 109, ../Compass/_theme_template.sass */
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
  color: #4a8cdb !important;
}
/* line 113, ../Compass/_theme_template.sass */
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
  color: #96daff !important;
}

/* line 31, ../Compass/shThemeFadeToGrey.sass */
.syntaxhighlighter .functions {
  font-weight: bold !important;
}
/* line 34, ../Compass/shThemeFadeToGrey.sass */
.syntaxhighlighter .script {
  color: #000 !important;
}
