/* line 29, ../Compass/_theme_template.sass */
.syntaxhighlighter {
  background-color: white !important;
}
/* line 34, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.alt1 {
  background-color: white !important;
}
/* line 37, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.alt2 {
  background-color: white !important;
}
/* line 42, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
  background-color: #c3defe !important;
}
/* line 46, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
/* line 50, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter {
  color: #787878 !important;
}
/* line 53, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #d4d0c8 !important;
}
/* line 56, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #d4d0c8 !important;
  color: white !important;
}
/* line 60, ../Compass/_theme_template.sass */
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
/* line 63, ../Compass/_theme_template.sass */
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
/* line 66, ../Compass/_theme_template.sass */
.syntaxhighlighter.collapsed .toolbar {
  background: #f8f8f8 !important;
  border: 1px solid #E7E5DC !important;
}
/* line 70, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar {
  color: #a0a0a0 !important;
}
/* line 73, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar a {
  color: #a0a0a0 !important;
}
/* line 76, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar a:hover {
  color: red !important;
}
/* line 80, ../Compass/_theme_template.sass */
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: black !important;
}
/* line 84, ../Compass/_theme_template.sass */
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
  color: #3f5fbf !important;
}
/* line 88, ../Compass/_theme_template.sass */
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
  color: #2a00ff !important;
}
/* line 92, ../Compass/_theme_template.sass */
.syntaxhighlighter .keyword {
  color: #7f0055 !important;
}
/* line 95, ../Compass/_theme_template.sass */
.syntaxhighlighter .preprocessor {
  color: #646464 !important;
}
/* line 98, ../Compass/_theme_template.sass */
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}
/* line 101, ../Compass/_theme_template.sass */
.syntaxhighlighter .value {
  color: #009900 !important;
}
/* line 104, ../Compass/_theme_template.sass */
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}
/* line 107, ../Compass/_theme_template.sass */
.syntaxhighlighter .constants {
  color: #0066cc !important;
}
/* line 110, ../Compass/_theme_template.sass */
.syntaxhighlighter .script {
  background-color: yellow !important;
}
/* line 113, ../Compass/_theme_template.sass */
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
  color: gray !important;
}
/* line 117, ../Compass/_theme_template.sass */
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}
/* line 121, ../Compass/_theme_template.sass */
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
  color: red !important;
}

/* line 33, ../Compass/shThemeEclipse.sass */
.syntaxhighlighter .keyword {
  font-weight: bold !important;
}
/* line 37, ../Compass/shThemeEclipse.sass */
.syntaxhighlighter .xml .keyword {
  color: #3f7f7f !important;
  font-weight: normal !important;
}
/* line 41, ../Compass/shThemeEclipse.sass */
.syntaxhighlighter .xml .color1,
.syntaxhighlighter .xml .color1 a {
  color: #7f007f !important;
}
/* line 45, ../Compass/shThemeEclipse.sass */
.syntaxhighlighter .xml .string {
  font-style: italic !important;
  color: #2a00ff !important;
}
