/* line 34, ../Compass/_theme_template.sass */
.syntaxhighlighter {
  background-color: #0f192a !important;
}
/* line 39, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.alt1 {
  background-color: #0f192a !important;
}
/* line 42, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.alt2 {
  background-color: #0f192a !important;
}
/* line 47, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
  background-color: #253e5a !important;
}
/* line 51, ../Compass/_theme_template.sass */
.syntaxhighlighter .line.highlighted.number {
  color: #38566f !important;
}
/* line 55, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
/* line 58, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #435a5f !important;
}
/* line 61, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #435a5f !important;
  color: #0f192a !important;
}
/* line 29, ../Compass/_theme_template.sass */
.syntaxhighlighter .gutter .line.break {
  border: none !important;
  border-bottom: 3px solid #435a5f !important;
}
/* line 29, ../Compass/_theme_template.sass */
.syntaxhighlighter .code .line.break {
  border: none !important;
  border-bottom: 3px solid #435a5f !important;
}
/* line 70, ../Compass/_theme_template.sass */
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
/* line 73, ../Compass/_theme_template.sass */
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
/* line 76, ../Compass/_theme_template.sass */
.syntaxhighlighter.collapsed .toolbar {
  background: #0f192a !important;
  border: none !important;
}
/* line 80, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar a {
  color: #38566f !important;
}
/* line 83, ../Compass/_theme_template.sass */
.syntaxhighlighter .toolbar a:hover {
  color: #8aa6c1 !important;
}
/* line 87, ../Compass/_theme_template.sass */
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: #d1edff !important;
}
/* line 91, ../Compass/_theme_template.sass */
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
  color: #428bdd !important;
}
/* line 95, ../Compass/_theme_template.sass */
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
  color: #1dc116 !important;
}
/* line 99, ../Compass/_theme_template.sass */
.syntaxhighlighter .keyword {
  color: #b43d3d !important;
}
/* line 102, ../Compass/_theme_template.sass */
.syntaxhighlighter .preprocessor {
  color: #8aa6c1 !important;
}
/* line 105, ../Compass/_theme_template.sass */
.syntaxhighlighter .variable {
  color: #ffaa3e !important;
}
/* line 108, ../Compass/_theme_template.sass */
.syntaxhighlighter .value {
  color: #f7e741 !important;
}
/* line 111, ../Compass/_theme_template.sass */
.syntaxhighlighter .functions {
  color: #ffaa3e !important;
}
/* line 114, ../Compass/_theme_template.sass */
.syntaxhighlighter .constants {
  color: #e0e8ff !important;
}
/* line 117, ../Compass/_theme_template.sass */
.syntaxhighlighter .script {
  background-color: #404040 !important;
}
/* line 120, ../Compass/_theme_template.sass */
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
  color: #f8bb00 !important;
}
/* line 124, ../Compass/_theme_template.sass */
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
  color: white !important;
}
/* line 128, ../Compass/_theme_template.sass */
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
  color: #ffaa3e !important;
}
/* line 132, ../Compass/_theme_template.sass */
.syntaxhighlighter .break,
.syntaxhighlighter .break a {
  color: #d1edff !important;
}
